# Copy this to .env for local development
ADMIN_PASSWORD=your_password_here
GITHUB_TOKEN=your_github_token_here
NETLIFY_HOOK_URL=https://api.netlify.com/build_hooks/6a3e7057fc5b5c00c28a3261
PORT=3001
